.header{
    background: url('/assets/images/post-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 70vh;

    @include center-element-flex;
    flex-direction: column;



.header__text{    
    color: $white;
    font-size: $xx-lg;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    width: 55%;
    margin: 0 auto;
    padding-top: 6.25rem;
    letter-spacing: 1px;
    
    @include large-breakpoint{
        width: 50%;
        font-size: $x-lg;
    }
}

&__icon{
    color: $white;
    font-size: $icon-size;
    height: 25vh;
    padding-top: 6.25rem;
}

}